body{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px
}
.mainDiv{
    width: 480px;
    height: 480px;
    border: 2px solid blueviolet;
}
.gridDiv{
    width: 30px;
    height: 30px;
    outline: 1px solid palevioletred;
    transition: all .07s ease;
    float: left;
}

.hovering {
    /*transform: scale(1.5);*/
    border-color: rgb(165, 37, 79);
    box-shadow: 0 0 1rem #d336a4;
    background: yellow;
    color: purple;
  }
button{
    background: yellow;
    color: purple;
    box-shadow: 0 0 1rem #d336a4;
    border-color:yellow ;
    font-size: xx-large;
    font-style: italic;
}